<div *ngIf="data && form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- 按键模式 -->
    <mat-form-field appearance="fill">
      <mat-label>{{ data!.mode!.key }}</mat-label>
      <mat-select formControlName="mode">
        <mat-option *ngFor="let option of data?.mode?.options" [value]="option.value">
          {{ option.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container formArrayName="params">
      <dynamix-form-field *ngFor="let param of data?.params; let i = index" [param]="param" [formControlName]="i"></dynamix-form-field>
    </ng-container> >

    <button class="submit-button" mat-raised-button color="primary">Submit</button>
  </form>
</div>
