.mat-form-field {
  width: 100%;
}

.submit-button {
  margin-top: 16px;
  width: 100%;
}

.mat-radio-button {
  margin: 0 12px;
}

.form-control-switch {
  margin-bottom: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}
