.string-edit-continer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 0rem;

  .id {
    flex: 0 1 36px;
    margin-right: 24px;
    text-align: right;
  }

  .mat-mdc-form-field {
    margin-right: 2rem;
  }

  .mat-form-field,
  .text {
    flex: 1 1 auto;
    margin-right: 16px;
  }

  .indicator {
    cursor: pointer;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .drag-indicator,
  .edit-indicator {
    display: none;
  }

  &:hover .drag-indicator,
  &:hover .edit-indicator {
    display: block;
  }

  &:hover {
    background: rgb(240, 240, 240);
  }
}
