@use 'theme';

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track-piece {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: theme.$primary;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*::-webkit-scrollbar-resizer {
  background: transparent;
}
