<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer-content>
    <ng-container *ngIf="vkeys.length > 0">
      <Virtual-Keyboard
        #vkeyboard
        class="virtual-keybaord"
        [id]="activeKey?.id"
        [keys]="vkeys"
        (itemClicked)="onItemClicked($event)"
      ></Virtual-Keyboard>
    </ng-container>

    <ng-container *ngIf="levels.length > 0">
      <mat-button-toggle-group appearance="legacy" [formControl]="level" name="level" (change)="onLevelChange()">
        <mat-button-toggle *ngFor="let level of levels; let i = index" [value]="level.id">
          {{ level.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
  </mat-drawer-content>

  <mat-drawer #editor position="end" [mode]="'over'">
    <div class="editor-header">
      <h2 class="editor-title">Id：{{ idFormart() }} - Level: {{ levelFormart() }}</h2>
      <mat-icon (click)="onEditorClosed()">close</mat-icon>
    </div>
    <div class="editor-content">
      <ng-container *ngIf="formData">
        <dynamix-form [data]="formData" (modeChanged)="onModeChanged($event)" (valueChanged)="onFormSubmit($event)"></dynamix-form>
      </ng-container>
    </div>
  </mat-drawer>
</mat-drawer-container>
