<ng-container *ngIf="options.length > 0 && control">
  <div class="form-control-container">
    <mat-form-field appearance="fill">
      <mat-label>{{label}}</mat-label>
      <input type="text" placeholder="Pick one" matInput [formControl]="control" [matAutocomplete]="auto">
      <mat-icon matSuffix (click)="openVKeyboard($event)">keyboard</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectChange()">
        <mat-option *ngFor="let item of filteredOptions$ | async" [value]="item">
          {{ item.key }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</ng-container>
