.mat-radio-button {
  margin: 0 12px;
}

.form-control-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: whitesmoke;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}
