<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer-content>
    <ng-container *ngIf="vkeys.length > 0">
      <Virtual-Keyboard #vkeyboard class="virtual-keybaord" [id]="activeKey?.id" [width]="1440" [height]="720"
        [keys]="vkeys" (itemClicked)="onItemClicked($event)"></Virtual-Keyboard>
    </ng-container>

    <app-footer></app-footer>
  </mat-drawer-content>

  <mat-drawer #editor position="end" [mode]="'side'">
    <ng-container *ngIf="this.activeKey">
      <div class="editor-header">
        <h2 class="editor-title">
          id：{{ this.activeKey.id | order }} - {{ "层" | translate }}: {{ "基本层" | translate }}</h2>
        <mat-icon (click)="onEditorClosed()">close</mat-icon>
      </div>
      <div class="editor-content">
        <ng-container *ngIf="formData">
          <dynamix-form [data]="formData" (modeChanged)="onModeChanged($event)" (valueChanged)="onFormSubmit($event)">
          </dynamix-form>
        </ng-container>
      </div>
    </ng-container>
  </mat-drawer>
</mat-drawer-container>
