<main>
  <mat-toolbar color="primary" class="menu-bar">
    <button class="menu-bar-item" mat-button routerLink="/device"><mat-icon>devices</mat-icon>Device</button>

    <button *ngFor="let menu of menus" class="menu-bar-item" mat-button [routerLink]="menu.link">
      <mat-icon>{{ menu.icon }}</mat-icon>
      {{ menu.name }}
    </button>

    <span class="spacer"></span>

    <button mat-raised-button color="warn" (click)="save()" [disabled]="!canSave()">Save to Device</button>
  </mat-toolbar>

  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</main>
