<main>
  <mat-toolbar color="primary" class="menu-bar">
    <button class="menu-bar-item" mat-button routerLink="/device">
      <mat-icon>devices</mat-icon>
      {{ '设备' | translate }}
    </button>

    <button *ngFor="let menu of menus" class="menu-bar-item" mat-button [routerLink]="menu.link">
      <mat-icon>{{ menu.icon }}</mat-icon>
      {{ menu.name | translate }}
    </button>

    <span class="spacer"></span>

    <button mat-raised-button color="warn" (click)="save()" [disabled]="!canSave()">{{ '保存到设备' | translate }}</button>

    <button mat-button [matMenuTriggerFor]="langMenu">{{ lang.title }}</button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item *ngFor="let item of langs" (click)="setLanguage(item.key)">{{ item.title }}</button>
    </mat-menu>

    <a mat-icon-button href="https://github.com/SoulDee/WebSayoDevice" target="_blank">
      Github
    </a>
  </mat-toolbar>

  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
  <div id="google_translate_element"></div>
</main>

<global-loading></global-loading>
