@use './theme/mixin';

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  position: relative;
  flex: 1;
}

.menu-bar {
  .menu-bar-item {
    .mat-icon {
      @include mixin.icon(16px);
      margin-right: 6px;
    }
  }
}

.logo {
  width: 30px;
  margin-right: 16px;
}