<div class="page-container">
  <button mat-raised-button color="primary" (click)="search()">{{"搜索设备" | translate}}</button>

  <ng-container *ngIf="hasMacPermission">
    <div class="tip">
      <div>{{howGetMacPermissionTip()}}</div>
      <img src="/assets/how_open_mac_listen_permission.jpg" alt="how open mac listen permission">
    </div>
  </ng-container>

  <ng-container *ngIf="isBootloader()">
    <div class="upgrade-tip">
      {{"设备即将开始升级，请稍等..." | translate}}
    </div>
  </ng-container>

  <app-footer></app-footer>
</div>
<a class="doc" href="https://manual.sayodevice.com" target="_blank">{{"遇到问题了？点击这里去看看文档吧！" | translate}}</a>
