.page-container {
  padding: 16px;
}

.mat-raised-button {
  margin-right: 16px;
}

.tip {
  font-size: 20px;
  padding-top: 1rem;
}

.upgrade-tip {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  padding: 30vh 20vw;
}

.doc {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
