<div class="page-container">
  <button mat-raised-button color="primary" (click)="search()">{{"搜索设备" | translate}}</button>

  <ng-container *ngIf="hasMacPermission">
    <div class="tip">
      <div>{{howGetMacPermissionTip()}}</div>
      <img src="/assets/how_open_mac_listen_permission.jpg" alt="how open mac listen permission">
    </div>
  </ng-container>

  <ng-container *ngIf="upgradeEvent">
    <div class="upgrade-tip" [ngSwitch]="upgradeEvent.event">
      <ng-container *ngSwitchCase="'start'">
        <div>{{"设备即将开始升级，请稍等..." | translate}}</div>
        <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
      </ng-container>
      <ng-container *ngSwitchCase="'blocking'">
        <div>{{"检测到未开始自动更新，可能是因为首次连接设备，请手动连接设备以便让更新继续。" | translate}}</div>
        <img class="how-upgroup" src="/assets/upgroup.jpg" alt="How to manually select a device upgrade">
      </ng-container>
      <ng-container *ngSwitchCase="'Failure'">
        {{upgradeEvent.message}}
      </ng-container>
      <ng-container *ngSwitchCase="'upgrading'">
        <div>{{"固件升级中，请不要断开连接或者关闭窗口..." | translate}}<span
            class="progress-statu">{{upgradeEvent.value}}/{{upgradeEvent.total}}</span></div>
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>
    </div>
  </ng-container>

  <app-footer></app-footer>
</div>
<a class="doc" href="https://manual.sayodevice.com" target="_blank">{{"遇到问题了？点击这里去看看文档吧！" | translate}}</a>
