<ng-container *ngIf="keys.length > 0">
  <div class="virtual-keyboard-container">
    <div class="virtual-keyboard" [ngStyle]="vkeyboardStyle">
      <ng-container *ngIf="keys.length > 0">
        <Virtual-Key
          *ngFor="let key of keys"
          class="virtual-key"
          [active]="key.id == id"
          [ngStyle]="vkeyStyle(key.pos.point, key.type)"
          [width]="key.pos.size.width"
          [height]="key.pos.size.height"
          [raduis]="key.pos.size.radius"
          [name]="key.name"
          [type]="key.type"
          [tooltip]="key.tooltip"
          [color]="key.color!"
          (clicked)="onClicked(key)"
        ></Virtual-Key>
      </ng-container>
    </div>
  </div>
</ng-container>
