@use '../../../theme/const';

.virtual-keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;

  .virtual-keyboard {
    position: relative;
    background: black;
    box-shadow: 1px 3px 8px 2px;

    .virtual-key {
      position: absolute;
    }
  }
}
