@use '../../../theme/const';

.virtual-key-container {
  cursor: pointer;
  background: #333;
  color: #ccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 1px #ccc;
  white-space: pre-line;
  font-size: 12px;

  &:hover {
    background: const.$warn;
  }
}

.virtual-key-active {
  background: const.$warn;
}
