@use '../../../theme/const';

:host {
  position: relative;
}

.virtual-key-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #333;
  color: #ccc;
  overflow: hidden;
  box-shadow: 0 0 1px #ccc;
  white-space: pre-line;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  box-sizing: border-box;
  text-shadow: 0.2em 0.2em 0.1em #000;
  box-shadow: inset 0.1em 0.1em 0.5em #555;

  &:hover {
    background: const.$warn;
    box-shadow: none;
  }

  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.virtual-key-active {
  background: const.$warn;
}